# Dependencies
node_modules/
package-lock.json

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Reports
cypress/reports/
mochawesome-report/

# IDE
.idea/
*.swp
*.swo
launch.json

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local
cypress.env.json

# Build
dist/
build/

# Coverage
coverage/
.nyc_output/
